/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

a:link, a:visited {
    color: #6699ff;
}  

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: #2d3540;
    font-family: 'Montserrat', sans-serif;
}

.pane-header {
    width: 100%;
    position: fixed;
    color: #fff;
    font-size: 1.2em;
    padding: 12px 30px;;
    box-shadow: 5px 2px 2px 3px rgba(0,0,0,0.1);
}

#table {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.link {
    font-family: serif;
    color: #6699ff;
}

.backdrop {
    width: 100%;
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
    /*filter: blur(5px);*/
}

footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #c8ccd2;
    font-size: 0.7em;
}

.alkali-metal {
    background: #62414a;
}

.alkaline-earth-metal {
    background: #665145;
}

.diatomic-nonmetal {
    background: #373c75; 
    background: #524890;
}

.noble-gas {
    background: #684886;
}

.transition-metal {
    background: #455369;
}

.post-transition-metal {
    background: #306859;
}

.metalloid {
    background: #2a5472;
}

.polyatomic-nonmetal {
    background: #373c75;
}

.lanthanide {
    background: #524e4a;
}

.actinide {
    background: #514445;
}

.element {
    width: 60px;
    height: 60px;
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    /*transition: all .6s, color .2s;*/
    /*transition-timing-function: cubic-bezier(1.000, -0.025, 0.525, 0.905);*/
    /*transition-timing-function: cubic-bezier(1.000, -0.025, 0.525, 0.905);*/
    z-index: 9;
}

.element:not(.expanded):hover {
    background: #fff;
    cursor: pointer;
    color: #555;
    transform: scale(1.1) translateZ(0) !important;
    z-index: 999;
    box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.1);
}

.element.expanded {
    background: #fff;
    color: #333;
    z-index: 999;
    box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.3);    
}

.element .details {
    display: none;
    opacity: 0;
    transform: scale(0.9) translate3d(-30px, -30px, 0);    
    box-sizing: border-box;
    transition: all 0.5s;
    padding: 10px 30px;    
}

.element.detailed .details {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
}

.element.selected .number {
    font-size: 1.4em;
    padding: 10px 20px;
}

.element.selected .symbol {
    left: 25px;
    top: 40px;
    font-size: 2em;    
}

.element.selected .name {
    left: 90px;
    top: 25px;
    font-size: 3em;
}

.summary {
    font-size: 14px;
    color: #555;
    margin-top: 40px;
}

.number {
    align-self: flex-start;
    font-size: 0.65em;
    margin-top: 5px;
    margin-bottom: -5px;
    margin-left: 8px;
    transition: all .8s cubic-bezier(1.000, -0.025, 0.525, 0.905), color .2s;
}

.symbol {
    font-size: 1.5em;
    font-weight: 500;
    position: absolute;
    top: 12px;
    left: 10px;
    text-align: center;
    width: 40px;
    transition: all .8s cubic-bezier(1.000, -0.025, 0.525, 0.905), color .2s;
}

.name {
    font-size: 0.5em;
    font-weight: 200;
    position: absolute;
    top: 44px;
    left: 0;
    width: 60px;
    text-align: center;
    transition: all .8s cubic-bezier(1.000, -0.025, 0.525, 0.905), color .2s;
}

.label {
    font-size: 0.7em;
    color: #777;
}

.details-row {
    display: flex;
    justify-content: space-between;
}

.details-row .measure {
    display: inline-block;
    /*flex: 1;*/
    margin-top: 20px;
    font-size: 1.1em;
}

.details-row .value {
    display: block;
}

.appearance .value, .category .value {
    text-transform: capitalize;
}

.details-close {
    position: absolute;
    right: 10px;
    top: -40px;
    padding: 0px 10px;
    font-size: 28px;
    /*cursor: pointer;*/
    transition: all 0.6s;
}

.details-close button {
    border: 0;
    outline: none;
    background: none;
}

.details-close:hover {
    transform: scale(1.2);
    color: #aa0000;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
