/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

* {
    transition: all .5s;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: #333b49;
    font-family: 'Montserrat', sans-serif;
}

.pane-header {
    width: 100%;
    position: fixed;
    color: #fff;
    font-size: 1.2em;
    padding: 12px 30px;;
    box-shadow: 5px 2px 2px 3px rgba(0,0,0,0.1);
}

#table {
    width: 1440px;
    margin: 0 auto;
    position: relative;
    /*transform: translateX(-50%);*/
}

.blurred {
    filter: blur(5px);
}

.backdrop {
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    bottom: 0;
    z-index: 99;
    /*height: 100vw;*/
    background: rgba(0, 0, 0, 0.2);
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.alkali-metal {
    background: #64424c;
}

.alkaline-earth-metal {
    background: #6e564c;
}

.diatomic-nonmetal {
    background: #3b3f7c;
}

.noble-gas {
    background: #685eb0;
}

.transition-metal {
    background: #47536c;
}

.post-transition-metal {
    background: #3e816f;
}

.metalloid {
    background: #35678c;
}

.polyatomic-nonmetal {
    background: #4a52a1;
}

.lanthanide {
    background: #544f4c;
}

.actinide {
    background: #544446;
}


.element {
    width: 70px;
    height: 70px;
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transform: translateZ(0);
    transition: all .6s, color .2s;
    /*transition-timing-function: cubic-bezier(1.000, -0.025, 0.525, 0.905);*/
    transition-timing-function: cubic-bezier(1.000, -0.025, 0.525, 0.905);
    z-index: 9;
}

.element .details {
    display: none;
}

.element:not(.expanded):hover {
    background: #fff;
    color: #555;
    transform: scale(1.1) translateZ(0) !important;
    z-index: 999;
    box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.1);
}

.element.expanded {
    background: #fff;
    color: #333;
    z-index: 999;
    /*transform: scale(5);*/
    /*left: 50vw !important;
    top: 50vh !important;*/
    /*width: 640px;
    height: 480px;*/
    box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.3);    
}

.element.expanded.detailed .details {
    display: block;
    margin: 0 20px;
}

.element.expanded .number {
    font-size: 1.4em;
    padding: 10px;
}

.element.expanded .symbol {
    left: 15px;
    top: 40px;
    font-size: 2em;    
}

/*.element.detailed .name {
}*/

.element.expanded .name {
    bottom: inherit;
    left: 70px;
    top: 25px;
    font-size: 3em;
    font-weight: 200;
}

.summary {
    font-size: 14px;
    color: #555;
    margin-top: 40px;
}

.number {
    align-self: flex-start;
    font-size: 0.7em;
    margin-top: 5px;
    margin-bottom: -5px;
    margin-left: 8px;
    transition: all .8s ease-in-out, color .2s;
}

.symbol {
    font-size: 1.6em;
    font-weight: 500;
    position: absolute;
    top: 15px;
    left: 16px;
    text-align: center;
    width: 40px;
    transition: all .8s ease-in-out, color .2s;
}

.name {
    font-size: 0.6em;
    position: absolute;
    top: 50px;
    left: 0;
    width: 70px;
    text-align: center;
    transition: all .8s ease-in-out, color .2s;
}

.label {
    font-size: 0.7em;
    color: #777;
}

.details-row {
    display: flex;
}

.details-row .measure {
    display: inline-block;
    flex: 1;
    margin-top: 20px;
    font-size: 1.1em;
}

.details-row .value {
    display: block;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}